<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
    <hr>
    <table class="table table-bordered"> 
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
                <% articles.forEach(article => { %>
                    <tr>
                        <th><%= article.id %></th>
                        <th><%= article.title %></th>
                        <th><%= article.slug %></th>
                        <th><%= article.category.title %></th>
                        <th>
                            <a href="/admin/articles/edit/<%= article.id %>" class="btn btn-warning">Editar</a>
                            
                            <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                                <input type="hidden" name="id" value="<%= article.id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </th>
                    </tr>
                <% }) %>
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs') %>
<script>
    function confirmarDelecao(event, form) {
        event.preventDefault()
        var decision = confirm("Voce quer deletar essa categoria?")
        if(decision){
            form.submit()
        }else{
            console.log("Não quero deletar, foi um acidente!")
        }
    }
</script>