<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Blog</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class= "nav-link" href="/">Home</a>
        </li>
       <li class="nav-item">
            <% if (log == undefined) { %>
            <a class="nav-link" href="/login">Logar</a>
            <% } %>
            <% if (log != undefined) { %>
            <a class="nav-link" href="/logout" style="float: right;">Logout</a>
            <% } %>
            <% if (log != undefined) { %>
                <a class="nav-link" href="/admin/articles" style="float: right;">Artigos</a>
                <a class="nav-link" href="/admin/categories" style="float: right;">Categorias</a>
            <% } %>
       </li>
    </ul>
</nav>