<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Blog</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class= "nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class= "nav-link" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item">
            <a class= "nav-link" href="/admin/articles">Artigos</a>
        </li>
        <% if (log != undefined) { %>
            <li>
                <a class="nav-link" href="/logout" style="float: right;">Logout</a>
            </li>
        <% } %>
    </ul>
</nav>