<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-2 text-center">Bem vindo!</h1>
            <hr>
            <p class="lead font-weight-bold">Este é um simples blog para apresentação de conteúdos como Node.js, protocolo HTTP (express.js), integração com banco de dados relacionais SQL com painel administrativo (CRUD completo) e sistema de login e autenticação. </p>
            <p class="lead font-weight-normal">O blog possui uma inteface de login dinâmica utilizando express-session. Essa se destina aos administradores para editar deletar e criar dados que são automaticamente atualizados com o banco de dados. O sistema de paginação também é dinâmico, baseado na quantidade de artigos do blog. </p>
            <p class="font-weight-light">Mais informações sobre os módulos e bibliotecas utilizadas encontram-se no arquivo package.json</p>
        </div>
        <a class="btn btn-primary btn-block" href="/articles/page/1">Todos os Artigos</a>
        <br>
        <div class="card">
            <div class="card-header">
                <h2 class="text-center display-4">Categorias</h2>
            </div>
            <div class="card-body">
                <% categories.forEach(category => { %>
                    <a class="btn btn-primary btn-block" href="/category/<%= category.slug %>"><%= category.title %></a>
                <% }) %>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>