<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <% content.articles.rows.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a class= "btn btn-primary"href="/<%= article.slug %>">Ler Artigo</a>
                </div>
            </div>
            <br>
        <% }) %>
        <div class="row">
            <div class="col col-12">
                <% if (content.num != 1) { %>
                <a class="btn btn-primary" style="float:left" href="/articles/page/<%= (content.num) - 1 %>">< Preview</a>
                <% } %>
                <% if (content.next) { %>
                <a class="btn btn-primary" style="float:right" href="/articles/page/<%= (content.num) + 1 %>">Next ></a>
                <% } %>
            </div>
        </div>
        <br>
    </div>
</body>
<%- include('partials/footer.ejs') %>