<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <div class="jumbotron">
        <h2 class="display-2 text-center">Sistema de Login</h2>
        <hr>
        <p class="lead font-weight-normal">O sistema de login permite que apenas amdins possam manipular os dados do site. Utilize a rota "/users/create" para adicionar um novo admin ao banco de dados Depois utilize esses mesmos valores para logar e ter acesso ao painel </p>
    </div>
    <div class="container">
        <hr>
        <div class="card mt-5">
            <div class="card-header">
                Login de admin
            </div>
            <div class="card-body">
                <form action="/authenticate" method="POST">
                    <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                    <input class="form-control" name="password" type="password" placeholder="******"><hr>
                    <button type="submit" class="btn btn-success btn-block">Logar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs') %></form>